<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\styles-header.css">
    <title>Header</title>
</head>
<body>

    <div class="main-header-top-bar">

        <a href="/"> <img src="/images/LogoDH.png" class="logo"> </a>

        <div class="form" action="#" method="GET">
            <input class="searcher" placeholder=" Buscardor..." name="search"/>
            <button class="submit"><i class="fa fa-search"></i></button>
        </div>

        <ul class="user-navbar">
            <% if(locals.isLogged) { %>
                <a href="/profile"><img src="<%= locals.loguedUser.avatar%>" alt="" width="50px" style="border-radius: 5%;"></a>
                <li style="display:flex;align-items: center;"><%= locals.loguedUser.firstname%> <%= locals.loguedUser.lastname%></li>
            <% } else { %> 
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate </a></li>
            <% } %>
        </ul>

        <div class="mobile-header">
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>

            <a href="/productCart" class="shop-cart">
                <i class="fas fa-cart-plus"></i>
            </a>
        </div>

    </div>

<!--     <div class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <% if(locals.isLogged) { %>
                <li style="display:flex;align-items: center;"><%= locals.loguedUser.firstname%> <%= locals.loguedUser.lastname%></li>
                <a href="/profile"><img src="<%= locals.loguedUser.avatar%>" alt="" width="50px" style="border-radius: 5%;"></a>
            <% } else { %> 
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/register">Registrate </a></li>
            <% } %>
        </ul>

    </div> -->


</body>
</html>