<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesCreacion.css">
        <script src="/js/product-create-validation.js"></script>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="form-card">
            <h1>Crear producto</h1>
                <form id="form" action="/p/api/products" method="POST" enctype="multipart/form-data">    
                    <labbel>Nombre del Producto:</labbel>
                    <input type="text" name="name" id="name" >
                    <div class="name-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "name") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <labbel>Descripción: </labbel>
                    <input type="text" name="description" id="description" >
                    <div class="description-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "description") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <labbel>Imagen: </labbel>
                    <input type="file" name="image" id="image"> 
                    <div class="image-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "image") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <labbel>Categoría: </labbel>
                    <select name="category" >
                        <% for (let category of data.categories) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% } %>  
                    </select>
                    <labbel>Color: </labbel>
                    <select name="colors" >
                        <% for (let color of data.colors) { %>
                            <option value="<%= color.id %>"><%= color.name %></option>
                        <% } %> 
                    </select>    
                    <labbel>Precio: </labbel>
                    <input type="text" name="price" >
                    <labbel>Dimensiones en formato: Alto x Ancho x Profundidad</labbel>
                    <input type="text" name="dimensions" >
                    <labbel>Material: </labbel>
                    <select name="materials" >
                        <% for (let material of data.materials) { %>
                            <option value="<%= material.id %>"><%= material.name %></option>
                        <% } %>
                    </select> 
                    <button class="create-button" type="submit">Crear</button>
                    <button class="reset-button" type="reset">Descartar</button>
                </form>
        </div>    
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

<script type="text/javascript">
</script>

</html>