<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesCreacion.css">
        <script src="/js/product-create-validation.js"></script>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="form-card">
            <h1>Crear producto</h1>
                <form id="form" action="/p/api/products" method="POST" enctype="multipart/form-data">    
                    <label class="label">Nombre del Producto:</label>
                    <input type="text" name="name" id="name" class="formInput">
                    <div class="name-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "name") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <label class="label">Descripción: </label>
                    <input type="text" name="description" id="description" class="formInput">
                    <div class="description-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "description") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <label class="label">Imagen: </label>
                    <input type="file" name="image" id="image" > 
                    <div class="image-error"></div>
                    <% for (let error of errors) { %> 
                        <% if (error.param == "image") { %> 
                            <p style="color: red"> <%= error.msg %> </p>
                        <% } %>
                    <% } %> 
                    <label class="label">Categoría: </label>
                    <select name="category" class="select">
                        <% for (let category of data.categories) { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% } %>  
                    </select>
                    <label class="label" >Color: </label>
                    <select name="colors" class="select" >
                        <% for (let color of data.colors) { %>
                            <option value="<%= color.id %>"><%= color.name %></option>
                        <% } %> 
                    </select>    
                    <label class="label">Precio: </label>
                    <input type="text" name="price" id="price" class="formInput">
                    <label class="label">Dimensiones en formato Alto x Ancho x Profundidad:</label>
                    <input type="text" name="dimensions" class="formInput" id="dimensions">
                    <label class="label">Material: </label>
                    <select name="materials" class="select">
                        <% for (let material of data.materials) { %>
                            <option value="<%= material.id %>"><%= material.name %></option>
                        <% } %>
                    </select> 
                    <button class="create-button" id="formButton" type="submit">Crear producto</button>
                    <button class="reset-button" id="formButton" type="reset">Descartar</button>
                </form>
        </div>    
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

<script type="text/javascript">
</script>

</html>