<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="\css\stylesLogin.css">  
</head>

<script>

</script>


<body>

    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main class="mainEditar">
        <form id="form" class="login" action="/api/products/<%- productToEdit.id %>?_method=PUT" method="POST">
            <h1 id="editar">Editar producto <%= productToEdit.id %> </h1>
            <labbel>Nombre del Producto:</labbel>
            <input class="borde" type="text" name="name" placeholder="Nombre del Producto" value="<%- productToEdit.name %>" required>
            <labbel>Descripción</labbel>
            <input class="borde" type="text" name="description" placeholder="Descripción" value="<%= productToEdit.description %>" required>
            <labbel>Imagen</labbel>
            <input id="imagen" class="borde" type="file" name="image" placeholder="Imagen" value="<%- productToEdit.image %>" required>
            <labbel>Categoría</labbel>
            <select class="borde" name="color" value="<%= productToEdit.category %>" required>
                <option value="1">Silla</option>
                <option value="2">Mesa</option>
                <option value="3">Cama</option>
            </select>
            <labbel>Color</labbel>
            <select class="borde" name="colors" value="<%= productToEdit.color_id %>" required>
                <option value="1">Madera</option>
                <option value="2">Piedra</option>
                <option value="3">Negro</option>
                <option value="4">Blanco</option>
            </select>    
            <labbel>Precio</labbel>
            <input class="borde" type="text" name="price" placeholder="Precio" value="<%= productToEdit.price %>" required>
            <labbel>Dimensiones en formato: Alto x Ancho x Profundidad</labbel>
            <input class="borde" type="text" name="dimensions" placeholder="Dimensiones" value="<%= productToEdit.dimensions %>" required>
            <labbel>Materiales</labbel>
            <select class="borde" name="materials" value="<%= productToEdit.material_id %>" required>
                <option value="1">Madera</option>
                <option value="2">Piedra</option>
                <option value="3">Vidrio</option>
                <option value="4">Metal</option>
            </select> 
            <button class="boton-entrar"  type="submit">Finalizar Edición</button>
        </form>
    </main>

  <footer>
     <%- include('./partials/footer') %>
  </footer>

</body>
</html>