<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="\css\stylesCreacion.css">  
    <script src="/js/product-create-validation.js"></script>
</head>

<script>

</script>


<body>

    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main class="mainEditar">
        <div class="form-card">
            <h1 id="editar">Editar producto: <%= data.productToEdit.name %> </h1>
            <form id="form" class="login" action="/p/api/products/<%- data.productToEdit.id %>?_method=PUT" method="POST">
                <labbel>Nombre del Producto:</labbel>
                <input type="text" name="name" placeholder="Nombre del Producto" value="<%- data.productToEdit.name %>" id="name">
                <div class="name-error"></div>
                <labbel>Descripción</labbel>
                <input type="text" name="description" placeholder="Descripción" value="<%= data.productToEdit.description %>" id="description">
                <div class="description-error"></div>
                <labbel>Imagen</labbel>
                <input  type="file" name="image" placeholder="Imagen" value="<%- data.productToEdit.image %>" id="image">
                <div class="image-error"></div>
                <labbel>Categoría</labbel>
                <select name="category" value="<%= data.productToEdit.category %>" required>
                    <% for (let category of data.categories) { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% } %>  
                </select>
                <labbel>Color</labbel>
                <select name="colors" value="<%= data.productToEdit.color_id %>" required>
                    <% for (let color of data.colors) { %>
                        <option value="<%= color.id %>"><%= color.name %></option>
                    <% } %>  
                </select>    
                <labbel>Precio</labbel>
                <input type="text" name="price" placeholder="Precio" value="<%= data.productToEdit.price %>" required>
                <labbel>Dimensiones en formato: Alto x Ancho x Profundidad</labbel>
                <input type="text" name="dimensions" placeholder="Dimensiones" value="<%= data.productToEdit.dimensions %>" required>
                <labbel>Materiales</labbel>
                <select name="materials" value="<%= data.productToEdit.material_id %>" required>
                    <% for (let material of data.materials) { %>
                        <option value="<%= material.id %>"><%= material.name %></option>
                    <% } %>  
                </select> 
                <button class="create-button" type="submit">Finalizar Edición</button>
                <button class="reset-button"><a href="/">Cancelar Edición</a></button>
            </form>
        </div>
    </main>

  <footer>
     <%- include('./partials/footer') %>
  </footer>

</body>
</html>

