<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="\css\styles-home.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/5d251886e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>
     
    <main>
        <div class="sliderTop" >
            
            <!-- slide 1 -->
            <div class="slideTop">
                <img src="/images/carrusel-top-1.jpg" alt="">
                <span class="topSliderContent">  ¡Bienvenid@ a Deco Hogar! </span>
            </div>
    
            <!-- slide 2 -->
            <div class="slideTop">
                <img src="/images/carrusel-top-4.jpg" alt="">
                <span class="topSliderContent">  Aprovecha los descuentos en productos seleccionados </span>
            </div>
    
            <!-- slide 3 -->
            <div class="slideTop">
                <img src="/images/carrusel-top-3.jpg" alt="">
                <span class="topSliderContent">  ¡Tenemos ofertas especiales para vos! </span>
            </div>

            <!-- slide 4 -->
            <div class="slideTop">
                <img src="/images/carrusel-top-2.jpg" alt="">
                <span class="topSliderContent">  ¡Gracias por elegirnos! </span>
            </div>

            <!-- Control buttons -->
            <button class="btn-top btn-next-top">></button>
            <button class="btn-top btn-prev-top"><</button>
        </div>

        <div class="presentation">
            <h2 class="main-title">NUESTROS PRODUCTOS</h1>
            
            <p> Navegá nuestro catalogo de productos y descubrí la experiencia Deco Hogar.</p>
            
            <p> Selecciona, compra y recibelo en tu domicilio.</p>
        </div>

        <h3 class="title">Productos destacados</h3>
        
        <div class="products-container">

            <div class="products-row">
                <% for (let i=0; i<4 ; i++) { %>
                    <div class="product-card">
                        <a href="/p/productDetail/<%- products[i].id %>"><img src="<%- products[i].image%>" alt="Imagen del producto" class="product-image"></a>
                        <div class="main-card">
                            <button class="agregar_carrito" data-id="<%- products[i].id %>">
                                <i class="fas fa-cart-plus cart-icon" data-id="<%- products[i].id %>"></i>
                            </button>
                            <p class="product-name"><%= products[i].name %></p>
                            <p class="product-price"> $ <%= products[i].price.toFixed(2)  %></p>
                        </div>
                    </div>
                <% } %>  
            </div>
            
            <div class="products-row">
                <% for (let i=4; i<8 ; i++) { %>
                    <div class="product-card">
                        <a href="/p/productDetail/<%- products[i].id %>"><img src="<%- products[i].image%>" alt="Imagen del producto" class="product-image"></a>
                        <div class="main-card">
                            <button class="agregar_carrito" data-id="<%- products[i].id %>">
                                <i class="fas fa-cart-plus cart-icon" data-id="<%- products[i].id %>"></i>
                            </button>
                            <p class="product-name"><%= products[i].name %></p>
                            <p class="product-price"> $ <%= products[i].price.toFixed(2)  %></p>
                        </div>
                    </div>
                <% } %>  
            </div>
        </div>
            
        <h3 class="title">Ofertas especiales</h3>

            <div class="products-container">

                <div class="products-row">
                    <% for (let i=8; i<12 ; i++) { %>
                        <div class="product-card">
                            <a href="/p/productDetail/<%- products[i].id %>"><img src="<%- products[i].image%>" alt="Imagen del producto" class="product-image"></a>
                            <div class="main-card">
                                <button class="agregar_carrito" data-id="<%- products[i].id %>">
                                    <i class="fas fa-cart-plus cart-icon" data-id="<%- products[i].id %>"></i>
                                </button>
                                <p class="product-name"><%= products[i].name %></p>
                                <div>
                                    <span class="discount-percentage">10% off: </span>
                                    <span class="discount-price"> $ <%= (products[i].price*1.10).toFixed(2) %></span>  
                                </div> 
                                <p class="product-price"> $ <%= products[i].price.toFixed(2)  %></p>
                            </div>
                        </div>
                    <% } %>  
                </div>
                
                <div class="products-row">
                    <% for (let i=12; i<16 ; i++) { %>
                        <div class="product-card">
                            <a href="/p/productDetail/<%- products[i].id %>"><img src="<%- products[i].image%>" alt="Imagen del producto" class="product-image"></a>
                            <div class="main-card">
                                <button class="agregar_carrito" data-id="<%- products[i].id %>">
                                    <i class="fas fa-cart-plus cart-icon" data-id="<%- products[i].id %>"></i>
                                </button>
                                <p class="product-name"><%= products[i].name %></p>
                                <div>
                                    <span class="discount-percentage">10% off: </span>
                                    <span class="discount-price"> $ <%= (products[i].price*1.10).toFixed(2) %></span>  
                                </div> 
                                <p class="product-price"> $ <%= products[i].price.toFixed(2)  %></p>
                            </div>
                        </div>
                    <% } %>  
                </div>
                
            </div>
        
        <h3 class="title">Lo mas comprado</h3>

            <div class="products-container">

                <div class="products-row">
                    <% for (let i=16; i<20 ; i++) { %>
                        <div class="product-card">
                            <a href="/p/productDetail/<%- products[i].id %>"><img src="<%- products[i].image%>" alt="Imagen del producto" class="product-image"></a>
                            <div class="main-card">
                                <button class="agregar_carrito" data-id="<%- products[i].id %>">
                                    <i class="fas fa-cart-plus cart-icon" data-id="<%- products[i].id %>"></i>
                                </button>
                                <p class="product-name"><%= products[i].name %></p>
                                <p class="product-price"> $ <%= products[i].price.toFixed(2)  %></p>
                            </div>
                        </div>
                    <% } %>  
                </div>
                
                
            </div>

        <!-- slider container -->
        <div class="slider" >

            <!-- slide 1 -->
            <div class="slide">
                <div class="slide-content">
                    <span class="bottomSliderContent">"Muy recomendable! Sobre todo si sos del interior interior. 
                        Mucha paciencia a la hora explicar, enviar imágenes, asesorar en 
                        cuanto a medidas telas, etc. Gian tiene TODAS las respuestas ! 
                        Todo muy claro, y presentes hasta que el sillón llega a tu casa, me
                        ayudaron mucho con el envío, impecable. El sillón divino en todos los aspectos." Ana Maria Frautschi </span>
                </div>
            </div>
    
            <!-- slide 2 -->
            <div class="slide">
                <div class="slide-content">
                    <span class="bottomSliderContent">"Excelente calidad y atención! Los sillones son espectaculares! Imposible decidir por uno y la cantidad de telas y diseño es increíble." Sebastian Cornaglia </span>
                </div>
            </div>
    
            <!-- slide 3 -->
            <div class="slide">
                <div class="slide-content">
                    <span class="bottomSliderContent">"Excelente atención, se toman el tiempo para explicarte todos los detalles y realizan asesoramiento sobre el armado de espacios. 
                        Los sillones son de una calidad superior, con una combinación de muebles de diseño exquisito. Los valores están acordes al producto 
                        que venden, una inversión que vale la pena." Carolina Acevedo </span>
                </div>
            </div>
    
            <!-- slide 4 -->
            <div class="slide">
                <div class="slide-content">
                    <span class="bottomSliderContent">"Hermosos diseños. Excelente atención. Precios acordes a la calidad." Lautaro Emanuel Pagaburu </span>
                </div>
            </div>
    
            <!-- Control buttons -->
            <button class="btn btn-next">></button>
            <button class="btn btn-prev"><</button>
        </div>

    </main>


    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>
</html>

<!-- script for bottom slider -->
<script>
    // Select all slides
const slides = document.querySelectorAll(".slide");

// loop through slides and set each slides translateX property to index * 100% 
slides.forEach((slide, indx) => {
  slide.style.transform = `translateX(${indx * 100}%)`;
});

// select next slide button
const nextSlide = document.querySelector(".btn-next");

// current slide counter
let curSlide = 0;
// maximum number of slides
let maxSlide = slides.length - 1;

// add event listener and navigation functionality
nextSlide.addEventListener("click", function () {
  // check if current slide is the last and reset current slide
  if (curSlide === maxSlide) {
    curSlide = 0;
  } else {
    curSlide++;
  }

//   move slide by -100%
  slides.forEach((slide, indx) => {
    slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
  });
});

// select prev slide button
const prevSlide = document.querySelector(".btn-prev");

// add event listener and navigation functionality
prevSlide.addEventListener("click", function () {
  // check if current slide is the first and reset current slide to last
  if (curSlide === 0) {
    curSlide = maxSlide;
  } else {
    curSlide--;
  }

  //   move slide by 100%
  slides.forEach((slide, indx) => {
    slide.style.transform = `translateX(${100 * (indx - curSlide)}%)`;
  });
});

</script>

<!-- Script for top slider down here -->

<script>
    // Select all slides
const slidesTop = document.querySelectorAll(".slideTop");

// loop through slides and set each slides translateX property to index * 100% 
slidesTop.forEach((slide, indx) => {
  slide.style.transform = `translateX(${indx * 100}%)`;
});

// select next slide button
const nextSlideTop = document.querySelector(".btn-next-top");

// current slide counter
let curSlideTop = 0;
// maximum number of slides
let maxSlideTOP = slidesTop.length - 1;

// add event listener and navigation functionality
nextSlideTop.addEventListener("click", function () {
  // check if current slide is the last and reset current slide
  if (curSlideTop === maxSlide) {
    curSlideTop = 0;
  } else {
    curSlideTop++;
  }

//   move slide by -100%
  slidesTop.forEach((slide, indx) => {
    slide.style.transform = `translateX(${100 * (indx - curSlideTop)}%)`;
  });
});

// select prev slide button
const prevSlideTop = document.querySelector(".btn-prev-top");

// add event listener and navigation functionality
prevSlideTop.addEventListener("click", function () {
  // check if current slide is the first and reset current slide to last
  if (curSlideTop === 0) {
    curSlideTop = maxSlide;
  } else {
    curSlideTop--;
  }

  //   move slide by 100%
  slidesTop.forEach((slide, indx) => {
    slide.style.transform = `translateX(${100 * (indx - curSlideTop)}%)`;
  });
});

</script>
