<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="\css\styles-register-form.css">
        <script src="/js/register-validation.js"></script>
</head>

<body>
    <header class="main-header">
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="main-mobile">
            <form action="/u/api/users/register" method="POST" class="formulario" enctype="multipart/form-data">
                <h2>Registra tu cuenta</h2>

                <div class="label">
                    <label class="floatLabel">Nombre:</label>
                </div>
                <input  name="firstname" type="text" id="firstname" placeholder="Ej: Juan" class="write-space">
                <div class="firstname-error"></div>
                <% for (let error of errors) { %> 
                    <% if (error.param == "firstname") { %> 
                        <p style="color: red"> <%= error.msg %> </p>
                    <% } %>
                <% } %> 
                <div class="label">
                    <label class="floatLabel">Apellido:</label>
                </div>
                <input name="lastname" type="text" id="lastname" placeholder="Ej: Martinez" class="write-space">
                <div class="lastname-error"></div>
                <% for (let error of errors) { %> 
                    <% if (error.param == "lastname") { %> 
                        <p style="color: red"> <%= error.msg %> </p>
                    <% } %>
                <% } %> 

                <div class="label">
                    <label class="floatLabel">Correo electrónico:</label>
                </div>
                <input  name="email" type="email" id="email" placeholder="Ej: juan10@gmail.com" class="write-space">
                <div class="email-error"></div>
                <% for (let error of errors) { %> 
                    <% if (error.param == "email") { %> 
                        <p style="color: red"> <%= error.msg %> </p>
                    <% } %>
                <% } %> 
                <div class="label">
                    <label class="floatLabel">Contraseña:</label>
                </div>
                <input name="password" type="password" id="password" placeholder="No compartir" class="write-space">
                <div class="password-error"></div>
                <% for (let error of errors) { %> 
                    <% if (error.param == "password") { %> 
                        <p style="color: red"> <%= error.msg %> </p>
                    <% } %>
                <% } %> 

                <div class="label">
                    <label class="floatLabel">Número telefónico:</label>
                </div>
                <input name="phonenumber" type="number" placeholder="Ej: 549 3492 112233" class="write-space">

                <div class="label">
                    <label >Ciudad:</label>
                </div>
                <input name="city" type="text" placeholder="Ej: Rosario" class="write-space">

                <div class="label">
                    <label  class="floatLabel">Genero:</label>
                </div>
                <input name="gender" type="text" placeholder="Ej: Mujer" class="write-space">

                <div class="label">
                    <label  class="floatLabel">Avatar:</label>
                </div>
                
                <input name="avatar" type="file" class="" id="avatar">
                
                <div class="avatar-error"></div>
                <% for (let error of errors) { %> 
                    <% if (error.param == "avatar") { %> 
                        <p style="color: red"> <%= error.msg %> </p>
                    <% } %>
                <% } %> 

                <button type="submit" class="boton-registrar"> Registrarse </button>
                <button type="reset" class="boton-borrar"> Borrar </button>

                <p class="registro"><a href="/u/login"> Ya tienes cuenta? Ingresa aquí </a>
                </p>
            </form>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>