<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('./partials/head') %>
      <link rel="stylesheet" href="\css\styles-userProfile.css">
</head>

<body>
   <header class="main-header">
      <%- include('./partials/header') %>
   </header>

   <main>
      <div class="conteiner">
         <div class="conteiner-items">
            <% if(locals.isLogged) { %>
               <h1>Perfil de <%= user.firstname %>
               </h1>
               <% if(user.gender=="Hombre" ) { %>
                  <h3>Bienvenido <%= user.firstname %>
                        <%= user.lastname%>
                  </h3>
                  <% } %>
                     <% if(user.gender=="Mujer" ) { %>
                        <h3>Bienvenida <%= user.firstname %>
                              <%= user.lastname%>
                        </h3>
                        <% } %>
                           <% if (user.gender !="Hombre" && user.gender !="Mujer" ) { %>
                              <h3>Bienvenido/a <%= user.firstname %>
                                    <%= user.lastname%>
                              </h3>
                              <% } %>
                                 <img src="<%= user.avatar %>" alt="foto-perfil" class="avatar">
                                 <h4>
                                    <%= user.email %>
                                 </h4>
                                 <a href="/u/editUser"><button class="button-profile">Cambiar contraseña</button></a>
                                 <a href="/u/api/users/logout"><button class="button-profile">Salir de mi
                                       cuenta</button><a>
                                       <% } %>
         </div>
      </div>

      <table class="styled-table">
         <thead>
            <tr>
               <th>#</th>
               <th>Fecha</th>
               <th>Envío</th>
               <th>Pago</th>
               <th>Total</th>
               <th>Ver Pedido</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>2022/06/04 10:00</td>
               <td>Correo Argentino</td>
               <td>Efectivo</td>
               <td>$1220</td>
               <td><button class="btn btn-warning btn-sm"><i class="fas fa-eye"></i></button></td>
            </tr>

            <!-- and so on... -->
         </tbody>
      </table>

   </main>

   <footer>
      <%- include('./partials/footer') %>
   </footer>
</body>

</html>